body {
    color: rgb(228, 252, 17);
    background: rgb(0, 0, 0);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(222, 238, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(221, 224, 230);
}
.chamada {
	background: #00c3ff;
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

 .chamada-texto {
    margin: 5%;
 }
  
img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right:20px;
}
.categoria-videos img {
    opacity: 0.5;

}
.categoria-videos 